header{
    text-transform: uppercase;
}
body{
 margin: 0;
 padding: 0;
}
.contenedor_menu{
  height: 70%;
  margin: 50px auto;
  width: 500px;
  padding: 30px;
  background-color: rgb(0, 0, 0,.6);
  border-radius: 15px;
}
.contenedor_menu h2{
  margin: 0 0 30px;
  padding: 0;
  font-size: 30px;
  color: #4cc9f0;
  text-align: center;
  text-transform: uppercase;
}
.contenedor_menu .elemento label{
  color: #fff;
  text-transform: uppercase;

}
.contenedor_menu .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px
}
.contenedor_menu .elemento input[type="submit"]{
    background: #051571;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
}
.contenedor_menu .elemento a{
 text-align: center;
 font-size: 20px;
 text-transform: uppercase;
}
.icono{
  text-align: center;
}
.contenedor_admin h3{
 text-align: center;
 color: #fff;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 35px;
 padding: 30px;
}
.contenedor_admin .registro {
  padding-left: 150px;
}
.contenedor_admin .registro {
  color: red;
}

 /*TABLA*/
 .tabla {
  padding: 20px;
}

caption {
  color: rgb(171, 228, 17);
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 55px;
  line-height: 10px;
}

table,th,td {
  border: 2px solid rgb(55, 93, 165);
  border-collapse: collapse;
  padding: 5px;
}

td {
  text-align: center;
}

th{
    color: rgb(142, 143, 199);
    background-color: rgba(214, 126, 10, 0.863);
}

/*RENGLONES PARES*/
tr:nth-child(even){
    color: rgb(61, 9, 121);
    background-color: gray;
}

/*RENGLONES IMPARES*/
tr:nth-child(odd){
    color: yellow;
    background-color: red;
}
