header{
    text-transform: uppercase;
}
body{
 margin: 0;
 padding: 0; 
 background-color: #ffffff;
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='60' height='240'/%3E%3C/g%3E%3C/svg%3E");
}
.contenedor_menu{
  height: 70%;
  margin: 50px auto;
  width: 500px;
  padding: 30px;
  background-color: rgb(0, 0, 0,.6);
  border-radius: 15px;
}
.contenedor_menu h2{
  margin: 0 0 30px;
  padding: 0;
  font-size: 30px;
  color: #4cc9f0;
  text-align: center;
  text-transform: uppercase;
}
.contenedor_menu .elemento label{
  color: #fff;
  text-transform: uppercase;

}
.contenedor_menu .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px
}
.contenedor_menu .elemento input[type="submit"]{
    background: #051571;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
}
.contenedor_menu .elemento a{
 text-align: center;
 font-size: 20px;
 text-transform: uppercase;
}
.icono{
  text-align: center;
}
.contenedor_admin h3{
 text-align: center;
 color: #000;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 35px;
 padding: 30px;
}
.contenedor_admin .registro {
  padding-left: 150px;
  margin-bottom: 10px;
}
.contenedor_admin .agregar img,p{
  width: 100px;
  margin-bottom: 30px;
  margin-left: 140px;
  text-align: center;
}


